/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
* {
    box-sizing: border-box;
    transition: 0.1s ease-out;
    -webkit-transition: 0.1s ease-out;
}

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Product Sans', Arial, sans-serif;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   EmpowerHack Styles
   ========================================================================== */

header {
    width: 100vw;
    position: fixed;
    z-index: 100;
    background: rgba(255,255,255,0.9);
    padding: 0 2rem;
}

header .logo {
    display:inline-block;
    font-size: 1.8em;
    margin-top: 20px;
    text-decoration: none;
    color: #111;
}

header .logo span {
    font-weight: bold;
}

header .logo.active span {
    color: #fb4880;
}

header ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    margin-left: 1rem;
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
}

header ul li a {
    display: inline-block;
    padding: 2rem 1rem;
    text-decoration: none;
    color: #111;
    letter-spacing: 1px;
    cursor: pointer;
}

header ul li:last-child a {
    padding: 2rem 0 2rem 1rem;
}

header ul li a.active {
    color: #fb4880;
}

header ul li a:hover {
    color: #fb4880;
}  

header li.active {
    color: #fb4880;
    padding: 2rem 0 2rem 1rem;
    letter-spacing: 1px;
}

p {
    font-family: 'Cardo', serif;
    font-size: 1.4em;
    line-height: 1.5em;
}

#content {
    position: relative;
    text-align: center
}

#content .field {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #111;
    font-weight: 700;
}

#content .field.flip {
    color: white;
}

#content .field .f {
    display:inline-block;
    background: transparent;
    padding: 10px 15px;
    font-weight: normal;
    border: 3px solid #111;
}

#content .field.flip .f {
    border: 3px solid white;
}

#content .social-media {
    color: #111;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.social-media a {
    color: #111;
    text-decoration: none
}

#content .project-content {
    width: 100%;
    background: white;
    color: #111;
    font-size: 0.8em;
}

#content .big-title {
    font-size: 8em;
    color: white;
}

#content .title {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1rem;
}

#content .subtitle {
    display: block;
    font-size: 1.2em;
    font-family: 'Cardo', serif;
    color: white;
    margin-top: -1rem;
    margin-bottom: 3rem;
    letter-spacing: 1px;
}

#content .home {
    background: url('../img/empowerhack.jpg') no-repeat;
    background-size: cover;
}

#content .hero {
    padding-top: 8rem;
    width: 40%;
    margin: 0 auto;
    font-size: 1.4em;
    color: white;
    letter-spacing: 1px;
}

#content .hero-non-fs {
    height: 100vh;
    width: 100vw;
    color: white; 
    display: table;
}

#content .hero-non-fs.press {
    background: url('../img/press.jpg') no-repeat;
    background-size: cover;
}

#content .hero-non-fs.press p {
    font-family: 'Product Sans', Arial, sans-serif;
}

#content .hero-non-fs p {
    display: table-cell;
    vertical-align: middle;
}

#content .about {
    background: white;
}

#content .about p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #666;
}

#content .hababy {
    background: url('../img/hababy.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
}

#content .slide2 {
    padding: 1rem 5rem;
}

#content .project-content {
    background: white;
    padding: 2rem 3rem;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
}

#content .soulmedicine {
    background: url('../img/soulmedicine.jpg') no-repeat;
    background-size: cover;
}

#content .drawmylife {
    background: url('../img/drawmylife.jpg') no-repeat;
    background-size: cover;
}

#content .vocapp {
    background: url('../img/vocapp.jpg') no-repeat;
    background-size: cover;
}

#content .rdc {
    background: #111;
}

#content .project-content ul {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    font-family: 'Cardo', serif;
}

#content .signup {
    background: white;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1150px) {
    #nav {
        background: transparent;
    }
    #nav ul {
        display: none;
    }
    #nav .logo {
        color: white;
    }
}

@media only screen and (max-width: 1000px) {
    #nav .logo {
        font-size: 0.8em;
    }
    #content .slide2 {
        padding: 0;
    }
    #content .big-title {
        font-size: 4em;
    }
    #content .subtitle {
        margin-top: 0px;
    }
    #content .project-content {
        background: white;
        padding: 10px 20px;
        font-size: 0.8em;
        margin: 0 auto;
        text-align: center;
        border-radius: 2px;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
    }
    .hero {
        width: 80%;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}