//Rewrite to www for Google 
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^empowerhack.io[nc]
RewriteRule ^(.*)$ http://www.empowerhack.io/$1 [r=301,nc]

//301 Redirect Hababy link
Redirect 301 /hababy-site /#hababy
